body{
 
  margin: 20px;
  padding: 40px;
  font-family: helvetica, sans-serif, monospace;
  

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 27, 201, 0.9);
 
}

br {
  display: block;
  margin-top: 1em; 
  margin-bottom: 1em;
}

p{
  font-size: 1.5rem;
}

#description{
  text-align: center;
}
#title{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  
}

input::placeholder {
  font-size: 1.5rem; 
}

label {
  font-size: 1.5rem;
  
}

#dropdown{
  size: 20px;
  font-size: 1.5rem;
  width: 85%;
  height: 50px;
  border-radius: 20px;
  padding: 0 20px;
  
}

#dropdown option{
  
  padding: 20px 20px;
  width: 85%;
  height: 50px;
  
}

#survey-form{
  background-color: #1717dc6d;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  box-shadow:  -20px -30px 30px rgba(0, 25, 29, 0.3);
}


#form{
  font-size: 1.5rem;
  padding: 1rem;
  width: 75%;
  color: lightcyan;

  background-image: linear-gradient(to right,rgba(56, 81, 245, 0.491) , rgba(16, 7, 146, 0.354));
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 20px 30px 15px rgba(0, 25, 29, 0.3);
}

.userinfo input{
  width: 95%;
  height: 30px;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 1rem;
}

.userinfo label{
  font-size: 1.5rem;
}

#unique{
  font-size: 1.5rem;
}



input[type="radio"],
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

textarea{
   width: 95%;
   height: 200px;
   border-radius: 20px;
   resize: none;
}

#submit{
  color: lightcyan;
  background-color: rgba(29, 25, 232, 0.819);
  width: 50%;
  height: 90px;
  position: relative;
  top: 5px;
  left: 26%;
  padding: 12px 24px;
  text-align: center;
  box-sizing: border-box;
  font-weight:bold;
  font-size: 2rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(1, 41, 47, 0.3);
}

#submit:hover{
  background-color: rgba(33, 14, 241, 0.911);
}

textarea::placeholder {
  font-size: 1.5rem; 
}



